extends layout2
block head
  script.
    window.onload= function(){// upon loading this page the first thing 
    Vue.use("Vuetify");
      new Vue({ 
        el: '#app',
        data: function(){
            return {
              user: !{JSON.stringify(user)}
            }
        }
        });
    }
block content
  h1.display-3.text-xs-center.front-weight-bold Check In
  if(user)
    v-card
      v-container
        v-form(method='POST')
          v-text-field(label= "Current Weight" name="weight" v-model='user.weight') 
          v-text-field(label= "Height" name="height" v-model='user.height') 

          v-btn(type='submit' color="green") Save
    
