extends layout2
block head
  script.
    window.onload= function(){// upon loading this page the first thing 
    Vue.use("Vuetify");
      new Vue({ 
        el: '#app',
        data: function(){
            return {
              user: !{JSON.stringify(user)},
              rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 20 || 'Max 20 characters',
                min: v => v.length >= 8 || 'Min 8 characters',
                numeric: v => !isNaN(v) || 'Numbers Only',
                email: value => {
                  const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  return pattern.test(value) || 'Invalid e-mail.'
                },
              }
            }
        }
        });
    }
block content
  h1.display-3.text-xs-center.front-weight-bold Check In
  if(user)
    v-card
      v-container
        v-form(method='POST')
          v-text-field(label= "Current Weight" name="weight" v-model='user.weight' type='number' :rules='[rules.required, rules.numeric]' )
          v-text-field(label= "Height" name="height" v-model='user.height' type='number' :rules='[rules.required, rules.numeric]') 
          br
          v-btn(type='submit' color="green") Save
    
