extends layout2

block head 
  script.
    window.onload = function(){ // when loads this will be called
      Vue.use("Vuetify");
      new Vue({
        el: '#app',
        data: () => ({
          
        }),
    })}
    
block content
  if(user)
    h1.display-3.text-xs-center.front-weight-bold= `Hello ${user.name},`
    h1.display-3.text-xs-center.front-weight-bold= `Welcome to your Dashboard!`
    
    
