doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js")
    title= title
    br
    block head

  body
    style.
        body{}
    #app
      v-app
        v-toolbar(color="light-blue darken-4" dark)
          v-toolbar-title Eat Smart
          v-spacer
          div.hidden-sm-and-down
            v-btn(flat='' href='/dashboard') Dashboard
            v-btn(flat='' href='/profile') Profile
            v-btn(flat='' href='/check-in') Check in
            v-btn(flat='' href='/diet') Diet
            v-btn(flat='' href='/dietHistory') Diet History
            v-btn(color='light-blue' href='/logout') Logout
        v-container
          block content
      
