doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js")
    title= title
    br
    block head

  body
    style.
        body{}
    #app
      v-app
        v-toolbar(color="light-green accent-1")
          v-toolbar-title Eat Smart
          div.hidden-sm-and-down
            v-btn(flat='' href='/home') Home
            v-btn(flat='' href='/login') Login
            v-btn(flat='' href='/new-user') Sign Up
            v-btn(flat='' href='/search') Food Search
        v-container
          block content
      
