extends layout
block head 
  script.
    window.onload = function(){ // when loads this will be called
      Vue.use("Vuetify");
      new Vue({ 
        el: '#app',
        data: function(){ //declare data
            return {
              login: {
                email:null,
                password:null
              },
              form: { //traits of form
                hidePassword: true
              }
            }
        }
        });
    }
block content
    h1.display-3.text-xs-center.front-weight-bold= title
      v-card
        v-card-text
          v-container
            v-form(method='POST')
              v-text-field(prepend-icon="person" label= "email" name="email" v-model='login.email') 
              v-text-field(prepend-icon="lock" label= "password" name="password" v-model='login.password' type='password')
              v-btn(type='submit' color='lime') login
          h2.display-1.text-xs-center Don't have an Account?
          v-btn(href='/new-user' color='blue lighten-4') Create Account
    //-message would be send from the index if problem like wrong password
    if message
      v-alert(:value="true" type="error")= message