extends layout
block head
  script.
    window.onload= function(){// upon loading this page the first thing 
    Vue.use("Vuetify");
      new Vue({ 
        el: '#app',
        data: function(){
            return { // setting variables
              user: !{JSON.stringify(user)},
              isValidForm: false,
              rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 20 || 'Max 20 characters',
                min: v => v.length >= 8 || 'Min 8 characters',
                numeric: v => !isNaN(v) || 'Numbers Only',
                email: value => {
                  const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  return pattern.test(value) || 'Invalid e-mail.'
                },
              },
            }
        },
        methods:{
          checkForm:function(form){ // in a later version do this
            console.log(form);
          }
        }
        });
    }

block content
  #app
    v-app
      v-container
        h4.display-3.text-xs-center.front-weight-bold New User Sign Up
        br
        v-card
          v-container
            v-form(method='POST' onsubmit="return checkForm(this);" )
              v-container.white
                //-text fields for sumbmission
                v-text-field(label= "E-mail" name="email" v-model='user.email' :rules='[rules.required, rules.email]') 
                v-text-field(label= "Password" name="password" v-model='user.password' type='password' :rules='[rules.required, rules.min]') 
                v-text-field(label= "Name" name="name" v-model='user.name' :rules='[rules.required]') 
                v-text-field(label= "City" name="city" v-model='user.city' :rules='[rules.required]') 
                v-text-field(label= "Weight" name="weight" v-model='user.weight' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Height" name="height" v-model.number='user.height' type='number' :rules='[rules.required, rules.numeric]') 
                v-divider
                h3.display-1.text-xs-center.front-weight-bold Select Nutrition Goals
                v-text-field(label= "Calories" name="calorieGoal" v-model.number='user.calorieGoal' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Carbohydrates" name="carbohydrateGoal" v-model.number='user.carbohydrateGoal' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Protein" name="proteinGoal" v-model.number='user.proteinGoal' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Potassium" name="potassiumGoal" v-model.number='user.potassiumGoal' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Fats" name="fatGoal" v-model.number='user.fatGoal' type='number' :rules='[rules.required, rules.numeric]') 
                v-text-field(label= "Vitamin A" name="vitaminAGoal" v-model.number='user.vitaminAGoal' type='number' :rules='[rules.required, rules.numeric]') 
                //-
                v-spacer
                v-btn(type='submit' color="green" v-on:click='' ) Save
